<% include header %>
	<div class="container main-body">
			<div class="left-list pull-left">
				<p class="text-center"><img src="/img/404.png" alt=""></p>
			</div>
			<div class="pull-right">
				<% include right%>
			</div>
	</div>
<% include footer %>