<% include header %>
	<div class="container main-body">
		<div class="row">
			<div class="col-lg-9 col-md-9">
				
					<div class="jumbotron about-us">
					  <h1>微信小程序开发社区</h1>
					  <p>欢迎来到微信小程序开发社区，在这里您可以畅所欲言，本社区源码(nodejs)您可以免费下载使用，版权为河南北极云科技有限公司所有。</p>
					  <p>技术支持：河南北极云科技有限公司</p>
					  <p>官方网站: <a href="http://www.beijiyun.net/">http://www.beijiyun.net/</a></p>
					  <p>QQ交流群：390289365</p>
					  <p>友情社区请移步: <a href="http://www.cwechat.org/">微信小程序开发</a></p>
					  <p><a class="btn btn-primary btn-lg" href="http://www.cwechat.org/" role="button">Learn more</a></p>
					</div>
			
			</div>
			<div class="col-lg-3 col-md-3">
				<% include right%>
			</div>
		</div>
	</div>
<% include footer %>