	<div class="footer container-fluid">
		<div class="container">
		<ul class="footer-list">
			<li>
			<h5>网站相关</h5>
			<p><a href="/about">关于我们</a></p>
			<p><a href="/">建议反馈</a></p>
			</li>
			<li>
				<h5>关注我们</h5>
				<p>当前会员数目&nbsp;&nbsp;<span class="user-count">暂无法统计</span></p>
			</li>
			<li class="frind-links">
				<h5>友情链接</h5>
				<ul>
					<li><a href="http://www.beijiyun.net/">微信小程序开发</a></li>
					<li><a href="http://www.cwechat.org/">微信小程序论坛</a></li>
				</ul>
			</li>
			<li class="ewm text-center">
				<p><img src="/img/ewm.png" alt=""></p>
				<p><a href="/about">QQ交流群：390289365</a></p>
			</li>
		</ul>
		</div>
	</div>
	<script src="/js/index.js"></script>
</body>
</html>