	<div class="footer container-fluid">
		<div class="container">
			<p>当前会员数目&nbsp;&nbsp;<span class="user-count">暂无法统计</span></p>
			<p>版权所有：©2016&nbsp;&nbsp;<a href="http://www.beijiyun.net/">河南北极云科技有限公司</a>&nbsp;&nbsp;<a href="/">源码地址</a></p>
			<p>cwechat 社区为国内最专业的 <a href="/">微信小程序</a> 开源技术社区，致力于 <a href="/">微信小程序开发</a> 的技术研究。</p>
			<p class="frind-links">友情链接: <a href="http://www.beijiyun.net/">北极云科技有限公司</a><a href="http://www.cwechat.org/">微信小程序开发论坛</a></p>
		</div>
	</div>
	<script src="/js/index.js"></script>
</body>
</html>