<% include header %>
	<div class="container main-body">
			<div class="left-list pull-left">
				<h3 class="text-center"><%=title%></h3>
				<p class="message-tip"><%=messages%></p>
				<p class="comeback text-center"><a href="/">回首页</a></p>
			</div>
			<div class="pull-right">
				<% include right%>
			</div>
	</div>
<% include footer %>