<% include header %>
	<div class="container main-body">
		<div class="row">
			<div class="col-lg-9 col-md-9">
				
					<div class="jumbotron about-us">
					  
					</div>
			
			</div>
			<div class="col-lg-3 col-md-3">
				<% include right%>
			</div>
		</div>
	</div>
<% include footer %>